/* Styles that are common between all "optional" containers, can be changed in one place */
div#header-custom-2,
div#custom-footer {
    display: block;
    min-height: 40px;
    margin: 0;

    content: "";

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#productImage{
    max-height: 300px!important;   
    width: 100%;
    object-fit: contain;
}

.payButton button{
    background-color: #BA5D17;
}

/* 
   Since the application is responsive by design, the styling changes at various breakpoints (browser widths).  The
   following @media queries update the css in each container for the device requesting the orderform.  This improves
   performance by only having a device request the image sizes it needs, and allows for font sizes to vary according
   to the screen size.
*/
@media screen and (min-width: 1200px) {
    /* Initial text size for the custom content in the header */
    div#header-custom-2 {
        background-image: url(img/header-995x400.jpeg);
        background-size: contain;
        height: 400px;
    }

    div#custom-footer {
        background-image: url(img/footer-965x1000.jpeg);
        height: 1000px;

    }

}

@media screen and (max-width: 1199px) {

    div#header-custom-2 {
        background-image: url(img/header-995x400.jpeg);
        background-size: contain;
        height: 400px;
    }

    div#custom-footer {
        background-image: url(img/footer-910x1000.jpeg);
        height: 1000px;

    }

}

@media screen and (max-width: 991px) {


    div#custom-footer {
        background-image: url(img/footer-690x800.jpeg);
        height: 800px;

    }

}

@media screen and (max-width: 767px) {
    div#header-custom-2 {
        background-image: url(img/header-720x250.jpeg);
        background-size: contain;
        height: 250px;
    }

    div#custom-footer {
        background-image: url(img/footer-705x800.jpeg);
        height: 800px;
    }

}

@media screen and (max-width: 500px) {
    div#header-custom-2 {
        background-image: url(img/header-400x170.jpeg);
        background-size: contain;
        height: 170px;
    }

    div#custom-footer {
        background-image: url(img/footer-400x477.jpeg);
        height: 477px;
        background-size: contain;
    }

    #productImage{
        max-height: 205px!important;   
    }

}

.digital-only {
    margin-left: 0 !important;
}
input[type="checkbox"]:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 .25em 0 0;

    font: 16px/1em sans-serif;

    content: "";
    vertical-align: top;
}
input[type="checkbox"]:checked :before {
    content: "";
    text-align: center;

    color: #333;
    background: blue;
}
input[type="checkbox"]:checked :after {
    font-weight: bold;
}

body{
    background-color: white;
}